.space {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
}

.layout {
  min-height: 100vh;
  display: flex;
  background-color: #ffffff;
}

.content {
  padding-inline: 50px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .content {
    padding-inline: 20px;
    box-sizing: border-box;
  }
}
