body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
  background: rgba(255, 255, 255, .5);
  border-radius: 100px;
  opacity: .5;
}

::-webkit-scrollbar-thumb {
  background: rgb(226, 226, 234);
  height: 50px;
  border-radius: 100px;
}
